* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.sketch-board {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 700px;
  max-width: 700px;
  height: auto;
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
}

.box {
  flex-basis: calc(100% / 64);
  height: 0;
  padding-bottom: calc(100% / 64);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap {
  gap: 10px;
}

.reso_btn {
  border-radius: 5px;
  padding: 5px 10px;
  width: 700px;
  background-color: antiquewhite;
}

.clr_btn {
  border-radius: 5px;
  padding: 5px 10px;
  width: 700px;
  background-color: aquamarine;
}